:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --color: #ffffffde;
    --page-bg-color: #242424;
    --bg-color: #3b3b3b;
    --bg-shadow-color: #2d2d2d;
    --bg-day: linear-gradient(317deg, rgb(82, 174, 255) 0%, rgb(0, 126, 210) 100%);
    --bg-day-shadow: rgb(71, 148, 216);
    --bg-night: linear-gradient(317deg, rgb(0, 76, 168) 0%, rgb(0, 40, 92) 100%);
    --bg-night-shadow: rgb(0, 52, 119);

    --bg-alert: #ca3737;
    --bg-shadow-alert: #a32d2d;
    --bg-update: #ffcb21;
    --bg-shadow-update: #c59d1a;
    --bg-cancel: #00ffff;
    --bg-shadow-cancel: #00b6b6;
    --bg-ack: #006eff;
    --bg-shadow-ack: #004eb4;
    --bg-error: #ff7b00;
    --bg-shadow-error: #c96100;

    color-scheme: dark;
    color: var(--color);
    background-color: var(--page-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    transition: all 1s ease-in-out;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
}

.modal-visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.modal-visible:not(#settings) {
    top: 50% !important;
}

.modal-visible#settings {
    top: 0px !important;
}

body.modal-visible {
    background-color: var(--bg-color);
}

#app > main > *:not(#settings) {
    transition: all 1s ease-in-out;
}

body.modal-visible > #app > main > *:not(#settings) {
    opacity: 0 !important;
    visibility: hidden !important;
}

div.modal-bg-visible {
    visibility: visible !important;
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

body.modal-bg-visible {
    overflow: hidden;
}

h2,
h4,
span {
    color: var(--color);
    font-weight: 400;
    font-family: inherit;
}

h4,
span {
    font-size: 1em;
}

button,
input {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    color: var(--color);
    background-color: #252525;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: rgb(49, 49, 49) 2px 2px;
    transition: background-color 0.25s ease-in-out;
}

button {
    border: 1px solid transparent;
}

button:disabled {
    background-color: var(--bg-alert);
}

input {
    border: 1px solid #3a3a3a;
}

input:focus {
    outline: none;
}

a {
    color: #0099ff;
}

i {
    color: var(--color);
}
